html{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');


 
*, *:before, *:after {box-sizing: inherit;}  
*{
    margin: 0;
    padding: 0;
}
html {box-sizing: border-box;} 
 
*, *:before, *:after {box-sizing: inherit;} 
.container{
    border: 2px solid var(--border);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary);
    padding: 0 4.8rem;
}

:root{
    --primary:#000;
    --secondary:rgb(24 24 27);
    --border : rgba(63,63,70,0.4);
    --title: rgb(244 244 245);
    --subtitle: rgb(161 161 170);
    --bgHeader:rgb(39,39,42);
    --blue:rgb(93, 188, 252);
    --icon-hover: #d4d4db;
}
.light{
    --primary: rgb(250,250,250);
    --secondary:rgb(255, 255 ,255);
    --bgHeader:rgb(253,253,253);
    --blue:rgb(0, 149, 246);
    --icon-hover: #333;
    --border : rgba(202,202,202,0.518);
    --title: rgb(39 39 42);
    --subtitle: rgb(82 82 91);






}
body{
    background-color:var(--primary);
    color: #fff;
}
.divider{
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
    width: calc(100% + 1.7rem + 1.7rem);
    margin-left: -1.7rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: initial;
    transition: 0.2s;
}
.flex{
    display: flex;
    text-align: center;
}
button{
    all:unset;
}
button:hover{
    cursor: pointer;
}
button:active{
    scale: 0.95;
}
button:disabled{
    opacity: 0.4;
}


::-webkit-scrollbar {
    width: 0.88rem;
   }
   
  ::-webkit-scrollbar-track {
    border: 7px solid #292c3b;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #d4d4d8;
    }
   
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
  }
   
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
   
  /* for Firefox */
   html {scrollbar-color: #9e4673 #3d4a59;}

.scrollTop{
    background:rgba(25, 118,210,0.85);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    text-align: center;
    right: 3%;
    font-size: 1.25rem;
    ;
}
.scrollTop:hover{
    background:rgb(25, 118,210);
    border: 1px solid rgba(255,255,255,0.2);


}
@media (max-width:1000px){
    .container{
        width:90%;
        padding:1.7rem;
    }
}

@media (max-width:600px){
    .container{
        width:98%;
        padding:1.7rem;
    }
    .scrollTop{
        opacity: 0.4;
    
    }
}

